<h1>Trips#new</h1>
<h2>THIS PAGE ONLY WORKS AFTER RELOAD OF PAGE; error: the map doesn't loads if user is logged,  the map loads ok if user is logged out.</h2>
<p>Find me in app/views/trips/new.html.erb</p>


  <style>
    html,
    body,
    #map-canvas {
      height: 100%;
      margin: 0px;
      padding: 0px
      
    }

    .controls {
      margin-top: 16px;
      border: 1px solid transparent;
      border-radius: 2px 0 0 2px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      height: 32px;
      outline: none;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    }

    #pac-input {
      background-color: #fff;
      font-family: Roboto;
      font-size: 15px;
      font-weight: 300;
      margin-left: 12px;
      padding: 0 11px 0 13px;
      text-overflow: ellipsis;
      width: 400px;
    }

    #pac-input:focus {
      border-color: #4d90fe;
    }

    .pac-container {
      font-family: Roboto;
    }

    #type-selector {
      color: #fff;
      background-color: #4d90fe;
      padding: 5px 11px 0px 11px;
    }

    #type-selector label {
      font-family: Roboto;
      font-size: 13px;
      font-weight: 300;
    }
  </style>

  Hello, welcome!
  <button id="calculateRouteButton"> calculate route </button>

  <%= form_for @trip do |f| %>

  Origin:
  <%=f.text_field :start_from ,:id=>"origin_field" %>
  <script type="text/javascript">
    // var my_origin= "Vancouver, BC"
    // $(document).ready(function(){
    //   $("#origin_field").val(my_origin);
    // });
   </script>

  Destination:
  <%=f.text_field :go_to ,:id=>"dest_field" %>
  <script type="text/javascript">
    // var my_dest= "Whistler, BC"
    // $(document).ready(function(){
    //   $("#dest_field").val(my_dest);
    // });
  </script>

  <div><%= f.submit "Submit and Save" %></div>
  <% end %>

  <!-- <button id="showWaypointButton"> show me the waypoints </button> -->
  <div id="map-canvas" style="float:left;width:70%; height:100%; offsetWidth:60%"></div>
  <div id="directionsPanel" style="float:right;width:30%;height 100%">
    <p>Total Distance: <span id="total"></span></p>
  </div>