/*styling for the btns at the top of the index page*/

#index-btns {
  right: 0;
  margin-right: 10px;
  margin-top: 10px;
  z-index: 444;
  position: absolute;
}

#index-btns a {
  color: #FFF;
}

#my-trips-btn {
  margin-left: -10%;
}

#saved-trips-dropdown a {
  color: #000;
  font-size: 20px;
}

a#delete-trip-btn {
 float: right;
 color: red;
 font-weight: bolder;
}

ul.dropdown-menu.pull-right {
  background-image: -webkit-linear-gradient(bottom, #4694FA 10%, #0F5499 70%);
  padding-left: 10%;
  padding-right: 10%;
}

ul.dropdown-menu.pull-right input {
  border-radius: 5px;
}

#login-username,
#login-password,
#login-btn, 
#sign-up-email, 
#sign-up-username,
#sign-up-password,
#sign-up-btn {
  width: 250px;
  height: 38px;
  margin-top: 2%;
}

/*styling for the form in the the center of the index page*/

#index-start,
#index-end {
  width: 390px;
  height: 38px;
  margin-top: 0%;
  border-radius: 5px;
  font-size: 18px;
  margin-bottom: 3%;
  padding-left: 15px;
}

#trip {
  text-align: center;
}

#start-trip-btn,
#end-trip-btn {
  width: 250px;
  height: 38px;
  border-radius: 5px;
  font-size: 18px;
  margin-bottom: 3%;
  margin-top: 3%;
}

#background {
  background-image: url("/images/co-pilot_background.jpg");
}

#main-hdr {
  text-align: center;
  color: #61C7EB;
  font-size: 80px;
  margin-top: 15%;
  margin-bottom: 15%;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 5px 5px #001349;
}

#plan-trip {
  text-align: center;
  color: #000;
  font-size: 30px;
  margin-bottom: 5%;
}

/*styling for the attractions and checkboxes on the index page*/

#hotel {
  height: 40px;
  width: 40px;
}

#food,
#entertainment,
#historical,
#outdoors,
#camping {
  height: 40px;
  width: 40px;
}

#checkbox-hotel,
#checkbox-food,
#checkbox-entertainment,
#checkbox-monument,
#checkbox-outdoors,
#checkbox-camping {
  width: 1em;
  height: 1em;
  margin-right: 1.25%;
}

/*styling for the show.html page */

html, body, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

/*styling for the panel on the show.html page*/

#panel {
  position: absolute; 
  top: 8%; 
  bottom: 0; 
  left: 1%; 
  height: 75%; 
  width: 390px; 
  background-color: white; 
  opacity: 0.9; 
  overflow: auto;
  border-radius: 5px;
  box-shadow: inset 0px 0px 20px 0px #000;
  background-image: -webkit-linear-gradient(bottom, #4694FA 10%, #0F5499 70%);
}

#panel-hdr {
  text-align: center;
  color: #61C7EB;
  font-size: 50px;
  margin-top: 5%;
  margin-bottom: 5%;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 5px 5px #000;
}

#panel-hdr a {
  text-decoration: none;
  color: #61C7EB;
}

#search-bar {
  margin-top: 10%; 
  margin-left: 8%;
}

#query {
  width: 320px;
  height: 35px;
  border-radius: 5px;
  margin-right: 15px;
  padding-left: 2%;
}

#search-button {
  width: 320px;
  margin-top: 2%;
  margin-bottom: 2%;
}

#origin_field,
#dest_field,
#trip-title {
  border-radius: 5px;
  width: 320px;
  height: 35px;
  margin-left: 8%;
  margin-bottom: 2%;
  padding-left: 2%;
}

#dir-button {
  width: 320px;
  margin-bottom: 2%;
  margin-left: 8%;
}

#attractions {
  position: absolute;
  top: 25%;
  height: 50%;
  width: 40%;
  left: 35%;
  background-color: white; 
  opacity: 0.9;
}

#direction-input {
  margin-top: 10%; 
  margin-left: 10%
}

#hotel-checkbox,
#food-checkbox,
#entertainment-checkbox,
#monument-checkbox,
#outdoors-checkbox,
#camping-checkbox {
  width: 1em;
  height: 1.5em;
  margin-top: 2%;
}

#panel-icons {
  margin-left: 3%;
}

/*styling for the directions dropdown and saved trips dropdown*/

#directions-dropdown,
#my-saved-trips-dropdown {
  height: auto;
  max-height: 465px;
  overflow-x: hidden; 
}

td.adp-substep, 
div.adp-summary {
  color: white;
}