/*#header {
  min-width: 100%;
  height: 110%;
  position: absolute;
  margin-top: -130px;
  margin-right: 10%;
}
*/

/*styling for the btns at the top of the index page*/

#index-btns {
  float: right;
  margin-right: 10px;
  margin-top: 10px;
}

ul.dropdown-menu.pull-right {
  background-color: #E6E6E6;
  padding-left: 10%;
  padding-right: 10%;
}

ul.dropdown-menu.pull-right input {
  border-radius: 5px;
}

#login-username,
#login-password,
#login-btn, 
#sign-up-email, 
#sign-up-username,
#sign-up-password,
#sign-up-btn {
  width: 250px;
  height: 38px;
  margin-top: 2%;
}

/*styling for the form in the the center of the index page*/

#index-start {
  width: 390px;
  height: 38px;
  margin-top: 0%;
  border-radius: 5px;
  font-size: 18px;
  margin-bottom: 3%;
  padding-left: 15px;
}

#index-end {
  width: 250px;
  height: 38px;
  border-radius: 5px;
  font-size: 18px;
}

#trip {
  text-align: center;
}

#start-trip-btn {
  width: 250px;
  height: 38px;
  border-radius: 5px;
  font-size: 18px;
  margin-bottom: 3%;
  margin-top: 3%;
}

#background {
  background-image: url("http://www.kucuu.com/desktop-wallpaper-home/The-Road-desktop-wallpaper-1366x768.jpg");
}

#main-hdr {
  text-align: center;
  color: #61C7EB;
  font-size: 80px;
  margin-top: 15%;
  margin-bottom: 15%;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 5px 5px #001349;
}

#plan-trip {
  text-align: center;
  color: #000;
  font-size: 30px;
  margin-bottom: 5%;
}

/*styling for the attractions and checkboxes on the index page*/

#hotel {
  height: 40px;
  width: 40px;

}

#food,
#entertainment,
#historical,
#outdoors,
#camping {
  height: 40px;
  width: 40px;
}

#checkbox-hotel,
#checkbox-food,
#checkbox-entertainment,
#checkbox-historical,
#checkbox-outdoors,
#checkbox-camping {
  width: 1em;
  height: 1em;
  margin-right: 1.25%;
}







