/*styling for the btns at the top of the index page*/

#index-btns {
  right: 0;
  margin-right: 10px;
  margin-top: 10px;
  z-index: 444;
  position: absolute;
}

#index-btns a {
  color: #FFF;
}

#my-trips-btn {
  margin-left: -10%;
}

#saved-trips-dropdown a {
  color: #000;
  font-size: 18px;
}

ul.dropdown-menu.pull-right {
  background-color: #E6E6E6;
  padding-left: 10%;
  padding-right: 10%;
}

ul.dropdown-menu.pull-right input {
  border-radius: 5px;
}

#login-username,
#login-password,
#login-btn, 
#sign-up-email, 
#sign-up-username,
#sign-up-password,
#sign-up-btn {
  width: 250px;
  height: 38px;
  margin-top: 2%;
}

/*styling for the form in the the center of the index page*/

#index-start,
#index-end {
  width: 390px;
  height: 38px;
  margin-top: 0%;
  border-radius: 5px;
  font-size: 18px;
  margin-bottom: 3%;
  padding-left: 15px;
}

#trip {
  text-align: center;
}

#start-trip-btn,
#end-trip-btn {
  width: 250px;
  height: 38px;
  border-radius: 5px;
  font-size: 18px;
  margin-bottom: 3%;
  margin-top: 3%;
}

#background {
  background-image: url("/images/co-pilot_background.jpg");
}

#main-hdr {
  text-align: center;
  color: #61C7EB;
  font-size: 80px;
  margin-top: 15%;
  margin-bottom: 15%;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 5px 5px #001349;
}

#plan-trip {
  text-align: center;
  color: #000;
  font-size: 30px;
  margin-bottom: 5%;
}

/*styling for the attractions and checkboxes on the index page*/

#hotel {
  height: 40px;
  width: 40px;

}

#food,
#entertainment,
#historical,
#outdoors,
#camping {
  height: 40px;
  width: 40px;
}

#checkbox-hotel,
#checkbox-food,
#checkbox-entertainment,
#checkbox-historical,
#checkbox-outdoors,
#checkbox-camping {
  width: 1em;
  height: 1em;
  margin-right: 1.25%;
}

html, body, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%;
}
#panel {
  position: absolute; 
  top: 2%; 
  bottom: 0; 
  left: 1%; 
  height: 60%; 
  width: 390px; 
  background-color: white; 
  opacity: 0.9; 
  overflow: auto;
  border-radius: 5px;
  box-shadow: inset 0px 0px 20px 0px #ABABAB; 
}

#panel-hdr {
  text-align: center;
  color: #61C7EB;
  font-size: 50px;
  margin-top: 5%;
  margin-bottom: 5%;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 5px 5px #001349;
}

#search-bar {
  margin-top: 10%; 
  margin-left: 8%;
}

#query {
    width: 65%;
    height: 35px;
    border-radius: 5px;
    margin-right: 15px;
}

#origin_field,
#dest_field {
  border-radius: 5px;
  width: 320px;
  height: 35px;
  margin-left: 8%;
  margin-top: 5%;
}

#dir-button {
  width: 200px;
  margin-top: 5%;
  margin-left: 23%;
}

#attractions {
  position: absolute;
  top: 25%;
  height: 50%;
  width: 40%;
  left: 35%;
  background-color: white; 
  opacity: 0.9;
}
#direction-input {
  margin-top: 10%; 
  margin-left: 10%
}